scikit-learn
scikit-optimize
xgboost
catboost
lightgbm
matplotlib
seaborn
ta
ta-lib
redis
tqdm
faiss-cpu
gymnasium
flask-caching
dash
plotly
freqtrade
yahooquery
ccxt
python-binance
chronos-forecasting
transformers
torch
expected_cost
psrcal
shap

